@model PortafolioWebAdministracion.Models.Referencia

@{
    ViewData["ControllerName"] = "Referencias";
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-primary text-left" role="alert">
    <b>NUEVA REFERENCIA PROFESIONAL</b>
</div>
<hr />
<div class="row text-left">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>     

            <label asp-for="NombreCompleto" class="control-label"></label>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-user alert-info" />
                </div>
                <input asp-for="NombreCompleto" class="form-control" style="height:30px" placeholder="Ingrese nombre completo" />
                <span asp-validation-for="NombreCompleto" class="alert-danger" style="font-weight:bolder;"></span>
            </div>

            <label asp-for="Profesion" class="control-label"></label>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-graduation-cap alert-info" />
                </div>
                <input asp-for="Profesion" class="form-control" style="height:30px" placeholder="Ingrese su profesion u oficio" />
                <span asp-validation-for="Profesion" class="alert-danger" style="font-weight:bolder;"></span>
            </div>

            <label asp-for="Telefono" class="control-label"></label>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-phone alert-info" />
                </div>
                <input asp-for="Telefono" class="form-control" style="height:30px" placeholder="Ingrese numero de telefono" />
                <span asp-validation-for="Telefono" class="alert-danger" style="font-weight:bolder;"></span>
            </div>

            <label asp-for="Email" class="control-label"></label>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fas fa-envelope alert-info" />
                </div>
                <input asp-for="Email" class="form-control" style="height:30px" placeholder="Ingrese un correo valido" />
                <span asp-validation-for="Email" class="alert-danger" style="font-weight:bolder;"></span>
            </div>

            <label asp-for="Link" class="control-label"></label>
            <div class="form-group input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fab fa-linkedin-in alert-info" />
                </div>
                <input asp-for="Link" class="form-control" style="height:30px" placeholder="Ingrese perfil de Linkedin" />
                <span asp-validation-for="Link" class="alert-danger" style="font-weight:bolder;"></span>
            </div>

            <div class="form-group text-left">
                <a class="btn btn-info btn-sm" data-toggle="tooltip"
                   data-placement="top"
                   title="Regresar" asp-action="Index">
                    <span class="fas fa-arrow-circle-left" />
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
